<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="app.component.scss" />
  <!--RobotoFont
https://fonts.google.com/specimen/Roboto?category=Serif,Sans+Serif&sort=popularity&preview.text=about&preview.text_type=custom
-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Righteous&family=Roboto:ital,wght@1,900&display=swap"
    rel="stylesheet" />
  <!--OswaldFont
https://fonts.google.com/specimen/Oswald?category=Serif,Sans+Serif&sort=popularity&preview.text=Created%20by&preview.text_type=custom
-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&display=swap"
    rel="stylesheet" />
  <!--YanoeKaffeeatzFont
https://fonts.google.com/specimen/Yanone+Kaffeesatz?category=Serif,Sans+Serif&sort=popularity&preview.text=Thanks%20for%20your%20visit&preview.text_type=custom
-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&family=Yanone+Kaffeesatz&display=swap"
    rel="stylesheet" />
  <!--WorkSansFont
https://fonts.google.com/specimen/Work+Sans?category=Serif,Sans+Serif&sort=popularity&preview.text=@heisjuanda&preview.text_type=custom
-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&family=Work+Sans:ital@1&family=Yanone+Kaffeesatz&display=swap"
    rel="stylesheet" />
  <!--WorkSansFont
https://fonts.google.com/specimen/Gantari?category=Serif,Sans+Serif
-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Gantari:wght@100&display=swap" rel="stylesheet" />

  <!--Inter Thiht-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,900&family=Roboto:ital,wght@1,900&display=swap"
    rel="stylesheet">

  <!--Raleway
    https://fonts.google.com/specimen/Raleway?category=Sans+Serif&vfonly=true&preview.text=About%20Juan%20David&preview.text_type=custom-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&family=Raleway:ital,wght@0,900;1,900&display=swap"
    rel="stylesheet">

  <title>About Juanda</title>
</head>

<body>
  <div id="aBOUT" class="transition" *ngIf="mostrar">

    <div class="Header">
      <div class="headerButtonBack" data-aos="fade-right" data-aos-duration="500">
        <!--(click)="changeMainAbout()"-->
        <button class="botonHeader">
          <a href="https://heisjuanda.netlify.app/">
            <p>
              Back?<br />
              <span>Yes</span>
            </p>
          </a>
        </button>
      </div>
    </div>


    <div class="AboutDescription">

      <div class="D1" data-aos="fade-right" data-aos-duration="500" data-aos-delay="500">
        <p>
          <br />
          <br />
          I´m a software developer student who loves to improve him skills and
          learn new thinks every day.
          <br />
          <br />
          My main goal is to be a software developer engineer and i am working
          hard to achieve my dreams,
        </p>
      </div>

      <div class="D3Foto" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">
        <img id="foto1"
          src="https://user-images.githubusercontent.com/63882053/191776346-61bf3022-7b15-4ebd-a91f-a35fd4da6108.png"
          alt="" />
      </div>

      <div class="D4Foto" data-aos="fade-right" data-aos-duration="500" data-aos-delay="600" data-aos-offset="0">
        <img id="foto2"
          src="https://user-images.githubusercontent.com/63882053/191373814-7e00b988-d5af-412f-a9b9-e7ae0e3435d9.png"
          alt="" />
      </div>

      <div class="D2" data-aos-delay="600" data-aos="fade-left" data-aos-duration="500">
        <p>
          <br />
          <br />
          I'm just a normal guy who wants to have fun and make some great
          apps!,
          <br />
          <br />
          There are not any words to describe me, come and find out yourself
        </p>
      </div>

      <div data-aos-delay="500" data-aos-duration="500"  data-aos="flip-down" class="D5">
        <p>
          Check my Resume
          <span>
            <br />
            &#10145;
          </span>
        </p>
      </div>

      <div data-aos-delay="500" data-aos-duration="500"  data-aos="zoom-in" class="ResumeeAbout">
        <button>
          <a href="https://github.com/jdma253/Cosas/files/9955516/JuanDa.s.Resume.pdf"
            download="https://github.com/jdma253/Cosas/files/9955516/JuanDa.s.Resume.pdf">Resume(160kb.pdf)</a>
        </button>
      </div>

      <div data-aos-delay="500" data-aos-duration="500" data-aos="flip-up" class="skills" >
        <p>Skills</p>
      </div>

      <div></div>

      <!--JAVA-->
      <div data-aos-once="true" data-aos-duration="500" data-aos-delay="500" data-aos="fade-right" style="margin-left: 15%;">
        <ng-lottie width="60%" height="90%" containerClass="moving-box another-class" [options]="options1"
          (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>

      <div data-aos-once="true" data-aos-duration="500" data-aos-delay="500" data-aos="fade-left" class="progress">
        <div style="width: 65%;" class="progress-value">
          <p>65%</p>
        </div>
      </div>

      <!--JS-->
      <div data-aos-once="true" data-aos-delay="500" data-aos-duration="500" data-aos="fade-right" style="margin-left: 25%;">
        <ng-lottie width="40%" height="50%" containerClass="moving-box another-class" [options]="options2"
          (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>

      <div data-aos-once="true" data-aos-delay="500" data-aos-duration="500" data-aos="fade-left" class="progress">
        <div style="width: 60%;" class="progress-value">
          <p>60%</p>
        </div>
      </div>

      <!--PYTHON-->
      <div data-aos-once="true" data-aos-delay="500" data-aos-duration="500"  data-aos="fade-right" style="margin-left: 10%;">
        <ng-lottie width="70%" height="20%" containerClass="moving-box another-class" [options]="options3"
          (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>

      <div data-aos-once="true" data-aos-delay="500" data-aos-duration="500" data-aos="fade-left" class="progress">
        <div style="width: 60%;" class="progress-value">
          <p>60%</p>
        </div>
      </div>

      <!--CSS-->
      <div data-aos-once="true" data-aos-delay="500" data-aos-duration="500" data-aos="fade-right" style="margin-left: 5%;">
        <ng-lottie width="70%" height="20%" containerClass="moving-box another-class" [options]="options4"
          (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>

      <div data-aos-once="true" ddata-aos-delay="500" data-aos-duration="500" data-aos="fade-left" class="progress">
        <div style="width: 50%;" class="progress-value">
          <p>50%</p>
        </div>
      </div>

      <!--HTML-->
      <div data-aos-once="true" data-aos-delay="500" data-aos-duration="500" data-aos="fade-right" style="margin-left: 9%;">
        <ng-lottie width="60%" height="20%" containerClass="moving-box another-class" [options]="options5"
          (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>

      <div data-aos-once="true" data-aos-delay="500" data-aos-duration="500" data-aos="fade-left" class="progress">
        <div style="width: 60%;" class="progress-value">
          <p>60%</p>
        </div>
      </div>

      <!--ANGULAR-->
      <div data-aos-once="true" ddata-aos-delay="500" data-aos-duration="500" data-aos="fade-right" style="margin-left: 14%;">
        <ng-lottie width="55%" height="50%" containerClass="moving-box another-class" [options]="options6"
          (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>

      <div data-aos-once="true" data-aos-delay="500" data-aos-duration="500" data-aos="fade-left" class="progress">
        <div style="width: 50%;" class="progress-value">
          <p>50%</p>
        </div>
      </div>

      <div><br></div>
      <div><br></div>
      <div><br></div>
      <div><br></div>

      <!--data-aos="fade-up" data-aos-duration="550" data-aos-delay="500" data-aos.offset="50"-->
      <div class="esta">
        <a class="Back" href="#aBOUT">
          <img

            src="https://user-images.githubusercontent.com/63882053/192379634-63afe651-a484-4a42-8129-5b56a3409319.png"
            alt="" />
        </a>
      </div>

    </div>
  </div>

</body>

</html>
