html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-size: cover;
}

body {
  color: #fff;
  background: hsl(0, 0%, 0%);
  font: 300 1em 'Fira Sans', sans-serif;
  //Center everything ever
  min-height: 100vh;
  display: flex;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  transition: 1s;
  padding: 10px;
  width: 50px;
  height: 100px;
  margin-right: 100%;
  font-family: 'Inter Tight', sans-serif;

  p {
    font-size: 45px;
    line-height: 0%;
    margin: 0%;

    span {
      visibility: hidden;
    }
  }
}

button:hover {
  padding: 0%;
  animation: opacityy 0.8s;
  border: transparent;

  p {
    line-height: 0px;
    visibility: hidden;

    span {
      visibility: visible;
    }
  }
}

//animaciones
@keyframes opacityy {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0.05;
  }

  10% {
    opacity: 0.1;
  }

  15% {
    opacity: 0.15;
  }

  20% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.25;
  }

  30% {
    opacity: 0.3;
  }

  35% {
    opacity: 0.35;
  }

  40% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.45;
  }

  50% {
    opacity: 0.5;
  }

  55% {
    opacity: 0.55;
  }

  60% {
    opacity: 0.6;
  }

  65% {
    opacity: 0.65;
  }

  70% {
    opacity: 0.7;
  }

  75% {
    opacity: 0.75;
  }

  80% {
    opacity: 0.8;
  }

  85% {
    opacity: 0.85;
  }

  90% {
    opacity: 0.9;
  }

  95% {
    opacity: 0.95;
  }

  100% {
    opacity: 1;
  }
}

.transition {
  animation: opacityy 0.2s;
}

//back
.Back {
  opacity: 0.3;
  margin-left: 100%;
  img {
    width: 8%;
    //margin-left: 83%;
  }
}


//headerButtonBack
.headerButtonBack {
  //position: absolute;
  top: 0%;
  right: 70%;
  left: 0;
  margin: 4%;

  .botonHeader {
    border: transparent;
    width: 15%;
    height: 4vw;
    padding: 1%;
    transition: 1s;
    a {
      text-decoration: none;
    }

    p {
      opacity: 0.4;
      color: white;
      //text-shadow: 0px 0px 8px white;
      font-size: 4vw;
      line-height: 0%;

      span {
        visibility: hidden;
      }
    }
  }

  .botonHeader:hover {
    animation: opacityy 0.3s;
    border: transparent;
    width: 15%;
    height: 4vw;

    p {
      line-height: 0px;
      visibility: hidden;

      span {
        visibility: visible;
      }
    }
  }
}


//about
.AboutDescription {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20%;
  //padding: 10%;
  margin: 5%;

  .D1 {
    h4 {
      font-size: 5vw;
      font-family: 'Bebas Neue', cursive;
      font-family: 'Comfortaa', cursive;
      font-family: 'Libre Barcode 39 Text', cursive;
      font-family: 'Righteous', cursive;
      font-family: 'Roboto', sans-serif;
    }

    p {
      transition: 1s;
      font-family: 'WorkSansFont', sans-serif;
      font-size: 4vw;
      opacity: 0.7;
    }
  }

  .D2 {
    margin: 2%;

    p {
      transition: 1s;
      font-family: 'WorkSansFont', sans-serif;
      font-size: 4vw;
      opacity: 0.7;
    }
  }

  .D3Foto {
    margin-top: 15%;
    img {
      margin: 10%;
      border-radius: 10%;
      width: 39vw;
    }
  }

  .D4Foto {
    margin-top: 15%;
    img {
      border-radius: 20%;
      width: 39vw;
    }
  }

  .D5 {
    margin-top: 5%;
    p {
      transition: 1s;
      font-family: 'Inter Tight', sans-serif;
      font-size: 3vw;
      margin: 10%;
    }
  }

  .ResumeeAbout {
    margin-top: 5%;
    button {
      margin: 15%;
      line-height: 0px;
      height: 5.3vw;
      width: 30vw;
      transition: 0.5s;

      a {
        color: #46c1f6;
        text-decoration: none;
        font-size: 4vw;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Comfortaa', cursive;
        font-family: 'Libre Barcode 39 Text', cursive;
        font-family: 'Oswald', sans-serif;
        font-family: 'Righteous', cursive;
        font-family: 'Roboto', sans-serif;
        font-family: 'Yanone Kaffeesatz', sans-serif;
      }
    }

    button:hover {
      //height: 5vw;
      width: 29vw;
    }

  }

  .progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 10vw;
    align-items: center;
    position: relative;
    padding: 0 2%;
    display: flex;
    height: 4vw;
    width: 35vw;
    p{
      color: white;
      text-shadow: 0px 0px 10px white;
      font-size: 4vw;
      font-family: 'Maven Pro', sans-serif;
      font-family: 'Raleway', sans-serif;
      transition: 1s;
    }
    p:hover{
      color: rgb(206, 29, 88);
      text-shadow: 0px 0px 10px rgb(206, 29, 88);;
    }
  }

  .progress-value {
    border-radius: 10vw;
    background: #fff;
    box-shadow: 1px 2px 10px white;
    height: 3vw;
    transition: 1s;
  }
  .progress-value:hover{
    background: rgb(206, 29, 88);
    box-shadow: 1px 2px 10px rgb(206, 29, 88);
  }

  .skills{
    width: 24vw;
    height: 25vw;
    p{
      width: 24vw;
      font-size: 10vw;
      color: #46c1f6;
      transition: 1s;
      margin-left: 35vw;
      font-family: 'Maven Pro', sans-serif;
      font-family: 'Raleway', sans-serif;
    }
    p:hover{
      text-indent: 2vw;
      width: 25vw;
    }
  }


  @media screen and (max-width: 485px) {
    .esta {
      opacity: 0;
      visibility: hidden;
    }
  }


}
